body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #333;
    font-weight: normal;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(50% - 20px);
    max-width: 500px;
    box-sizing: border-box;
}

.card h2 {
    color: #333;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 10px;
}

/* Estilo especial para o card de mapa */
.map-card {
    padding: 0;
    /* Remove o padding do card */
    flex-basis: 100%;
    /* O mapa ocupa toda a largura */
    max-width: 100%;
    /* Remove a limitação de largura */
    height: 400px;
    /* Altura definida para o mapa */
    overflow: hidden;
    border-radius: 8px;
}

.map-card iframe,
.map-card .leaflet-container {
    width: 100%;
    height: 100%;
    border: none;
}

/* .report-card {
    text-align: left;
    padding: 15px;
    flex: 1 1 calc(50% - 20px);
    max-width: 500px;
} */

/* CSS para o card de relatório */
.report-card {
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
}

/* Estilo do botão TTS */
.tts-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #d6ebd7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.tts-button:hover {
    background-color: #45a049;
}

.report-card p {
    font-size: 0.95em;
    color: #555;
    line-height: 1.5;
}

/* Ajusta o tamanho dos gráficos */
canvas {
    max-width: 100%;
    height: 250px;
}


/* The switch - the box around the speaker*/
.toggleSwitch {
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    margin-left: 10px;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hide default HTML checkbox */
#checkboxInput {
    display: none;
}

.bell {
    width: 18px;
}

.bell path {
    fill: white;
}

.speaker {
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition-duration: .3s;
}

.speaker svg {
    width: 18px;
}

.mute-speaker {
    position: absolute;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 3;
    transition-duration: .3s;
}

.mute-speaker svg {
    width: 18px;
}

#checkboxInput:checked+.toggleSwitch .speaker {
    opacity: 0;
    transition-duration: .3s;
}

#checkboxInput:checked+.toggleSwitch .mute-speaker {
    opacity: 1;
    transition-duration: .3s;
}

#checkboxInput:active+.toggleSwitch {
    transform: scale(0.7);
}

#checkboxInput:hover+.toggleSwitch {
    background-color: rgb(61, 61, 61);
}

.filter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter-input {
    padding: 8px;
    font-size: 1em;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

.filter-button {
    padding: 8px 15px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}
/* Ajustes responsivos */
@media (max-width: 768px) {
    .card {
        flex-basis: 100%;
    }
}